In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import re
import nltk
from nltk import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\thegr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\thegr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
validation = pd.read_csv('twitter_validation.csv', header = None)
train = pd.read_csv('twitter_training.csv', header = None)

In [4]:
train.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [5]:
train_df = train
validation_df = validation

In [ ]:
train_df['lower'] = train_df.text.str.lower() # lowercase
train_df['lower'] = [str(data) for data in train_df.lower]
train_df['lower'] = train_df.lower.apply(lambda x: re.sub('[^A-Za-z0-9]+', ' ', x)) # remove special characters

In [ ]:
validation_df['lower'] = validation_df.text.str.lower() # lowercase
validation_df['lower'] = [str(data) for data in validation_df.lower]
validation_df['lower'] = validation_df.lower.apply(lambda x: re.sub('[^A-Za-z0-9]+', ' ', x)) # remove special characters

In [7]:
train_df.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [ ]:
info_type = train.groupby(by=["information", "type"]).count().reset_index()
plt.figure(figsize=(20, 6))
sns.barplot(data=info_type, x="information", y="id", hue="type")
plt.xticks(rotation=90)
plt.xlabel("Brand")
plt.ylabel("Number of tweets")
plt.grid()
plt.title("Distribution of tweets per Branch and Type")

In [ ]:
tokens_text = [word_tokenize(str(word)) for word in train_df.lower]

In [11]:
stopwords_nltk = nltk.corpus.stopwords
stop_words = stopwords_nltk.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
bow_counts = CountVectorizer(tokenizer=word_tokenize, stop_words=stop_words, ngram_range=(1,1))

In [ ]:
reviews_train, reviews_test = train_test_split(train_df, test_size=0.2, random_state=42)

In [ ]:
X_train_bow = bow_counts.fit_transform(reviews_train.lower)
x_text_bow = bow_counts.transform(reviews_test.lower)

In [ ]:
y_train_bow = reviews_train['type']
y_test_bow = reviews_test['type']

In [ ]:
y_test_bow

In [ ]:
Logistic_regression = LogisticRegression(C=1, solver="liblinear", max_iter=200)
Logistic_regression.fit(X_train_bow, y_train_bow)

Test_Prediction = Logistic_regression.predict(X_test_bow)
print("Accuracy: ", accuracy_score(y_test_bow, Test_Prediction))

In [ ]:
X_val_bow = bow_counts.transform(val_df.lower)
y_val_bow = validation_df['type']

In [ ]:
y_val_bow

In [ ]:
print(X_val_bow)

In [ ]:
val_res = Logistic_regression.predict(X_val_bow)
print("Accuracy: ", accuracy_score(y_val_bow, val_res))